#main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color:
  max-height: auto;
  width: 100vw;
  overflow-x: hidden;
}

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.header {
  color: white;
  display: flex;
  width: 100vw;
  font-size: 300%;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: black;
  margin-top: 40px;
  margin-bottom: 20px;
}

.title {
  display: flex;
  flex-basis: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  justify-content: center;
  text-align: center;
  color: white;
}

.T2 {
  flex-basis: content;
}

h2 {
  display: flex;
  flex-direction: center;
  font-size: 36px;
  text-align: center;
  color: black;
  max-width: 80vw;
  margin: 25px 0px 25px;
  padding: 25px;
  border: 5px solid black;
}

#img-div {
    display: flex;
    flex-direction: column;
    height: auto;
    width: auto;
    color: black;
}

#img-caption {
  font-family: 'Shippori Mincho', serif;
  font-size: 14px;
  margin: 5px;
  padding-bottom: 5px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

#image {
  display: flex;
  contents: image;
  align-items: center;
  width: 80vw
  margin-top: 30px;
  padding: 20px;
  border: 10px;
}

#tribute-info {
  display: box;
  align-items: center;
  text-align: center;
  margin: 10px;
}

#headline {
  font-size: 32px;
}

#dates {
  font-family: 'Shippori Mincho', serif;
  font-size: 22px;
  margin: 2px;
  display: inline;
  display: list-item;
  align-text: left;
  color: black;
  }

#tribute-link {
  font-size: 32px;
}


.footer {
  color: white;
  display: flex;
  width: 100vw;
  font-size: 300%;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: black;
  margin-top: 20px;
  margin-bottom: 20px;
}

.A2 {
  flex-basis: content;
}

.headFoot {
  display: flex;
  flex-basis: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  justify-content: center;
  text-align: center;
  color: white;
}

.video:hover {
  transition: all 0.75s ease-out;  
  color: white; 
  }

.video-link:hover {
  transition: all 0.75s ease-in;  
  color: white;
  background-color: black;   
  }

.video {
  font-family: 'Shippori Mincho', serif;
  transition: all 0.75s ease-in;
  display: flex;
  display: center;
  color: black;
  width: auto;
  height: auto;
  margin: px;
  padding: px;
  text-decoration: none;
}

.video-link {
  transition: all 0.75s ease-in;
  display: flex;
  display: center;
  color: black;
  background-color: white;
  width: auto;
  height: auto;
  border: 2px solid black;
  border-radius: 1px;
  margin: 5px;
  padding: 5px;
  text-decoration: none;
}

a {
  color: black;
}

a: visited {
  color: red;
}

@viewport {
  width: device-width;
}

@media (max-width: 460px) {
  main {
    margin: 0px;
  }
}